doctype html
html(lang="en")
    head
        title Minesweeper
        link(rel='stylesheet', href='main.css', type='text/css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='script.js')
    body
        #wrapper
            h1 Minesweeper
            h2 Classic Minesweeper built in Javascript (using Jade, Stylus and jQuery)
            #grid
